.profile-picture {
    width: 50px; /* Set the desired width */
    height: 50px; /* Set the desired height */
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Ensure the image covers the element without distortion */

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
}

 .activities-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
 }

.activities-header h2 {
    margin: 0;
}

.btn.btn-danger {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #d51515;
}

